<!DOCTYPE html>
<html>
<meta name="google-signin-client_id" th:content="${appId}"/>

<head>
<title th:utext="#{app.title}">Title</title>
<div th:replace="fragment/variables">&nbsp;</div>
<script type="text/javascript" th:src="@{/js/general/menu.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body style="margin-top: 75px;">
	<div th:replace="fragment/navbar :: navbar-loggedin">&nbsp;</div>
	<div class="container">
		
		<div class="row">
			<h2>Scenario's</h2>
			<div id="scenarios"></div>
		</div>
		
		<div class="row" id="mygamecontainer" hidden="true">
			<h2>My Games</h2>
			<div id="mygames"></div>
		</div>
		
		<div class="row" id="myinvitecontainer" hidden="true">
			<h2>Pending invites</h2>
			<div id="myinvites"></div>
		</div>
		
		<div class="row" id="opengamescontainer" hidden="true">
			<h2>Open Games</h2>
			<div id="opengames"></div>
		</div>
		
		<div class="modal fade" id="createScene" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	 		  <h2 id="sceneTitle">..</h2>
	        </div>
	        <div class="modal-body row" style="height:80vh">
	        	<div class="scenarioContainer">
	        	<div class="col-md-12 top-buffer">
		        	<h4 id="sceneSummary"></h4>
				</div>
		        <div class="col-md-4 top-buffer" id="playerSelector"></div>
		        <div class="col-md-8 top-buffer"><h4 id="playerSummary"></h4></div> 
		        <div class="col-md-12 top-buffer" id="inviteContainer">
		        	<input type="checkbox" id="sendInvites" data-toggle="toggle" data-on="Send Invites" data-off="Don't send invites" data-width="200" />
		        </div>
	    		<div id="inviteList">
	    			<div class="col-md-12 top-buffer">
	    				<input type="text" id="searchInvites" onkeyup="searchInvites()" placeholder="Search.." title="Type in a name" />
	    			</div>
	    			<div id="inviteSet" class="col-md-12 top-buffer"></div>
	    		</div>
	    		<div class="col-md-12 top-buffer">
					<button type="button" id="submitbutton" class="btn btn-primary disabled">Start Game</button>
					<button type="button" id="joinbutton" class="btn btn-primary disabled">Join Game</button>
				</div>
				</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  
		<div th:replace="fragment/im">&nbsp;</div>
	</div>
</body>
</html>