<!-- Modal -->
  <div class="modal fade" id="attackScreen" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close attackclose" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="battleTitle">...</h4>
        </div>
        <div class="modal-body">
          <script>D6.dice(6, DICE_callback, null,true,"none");D6.diceToShow(0);</script>
          <div id="resultContainer"></div>
          <p id="battleInfo"></p>
          <div id="unitContainer"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default attackclose" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>