<th:block th:if="${authenticated}">
	<div id="chatWindow" class="ui-widget-content col-md-3 chatbox" hidden="true">
	  	<div class="jumbotron-header">
          <button type="button" class="close" id="closeChat">&times;</button>
          <button type="button" class="close" id="changeNickname"><i class="fa fa-cogs" aria-hidden="true"></i></button>
          <h4 class="jumbotron-title">Chat window</h4>
		</div>         
		<input type="text" id="nickname" placeholder="Nickname.." hidden="true" /> 
        <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search.." title="Type in a name" /> 
        <p>
        	<div id="contacts" class="conversation"></div>
        	<div id="conversations"></div>
        </p>
	</div>

	<button type="button" class="btn btn-danger btn-circle btn-xl btn-bottom" id="chatButton"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span class="badge" id="unreadMessages"></span></button>
</th:block>