<script th:inline="javascript">
/*<![CDATA[*/

    var onesignalId = [[${onesignalId}]];
    var baseUri = [[${baseUri}]];
	var appId = [[${appId}]];
	
/*]]>*/
</script>

<th:block th:if="${authenticated}">
	<th:block th:if="${reload}">
		<script th:inline="javascript">
		/*<![CDATA[*/
		
		    localStorage.clear();
			
		/*]]>*/
		</script>
	</th:block>

	<script th:inline="javascript">
		/*<![CDATA[*/
			
			var role = [[${user.role}]];
			var userId = [[${user.id}]];
			var username = [[${user.username}]];
			var nickname = [[${user.nickname}]];
		
		/*]]>*/
	</script>

	<link rel="manifest" href="/manifest.json" />
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="true"></script>
	<script src="/js/utils/onesignal.js"></script>

</th:block>

<script th:src="${baseUri + 'webjars/jquery/jquery.min.js'}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script th:src="${baseUri + 'webjars/sockjs-client/sockjs.min.js'}"></script>
<script th:src="${baseUri + 'webjars/stomp-websocket/stomp.min.js'}"></script>

<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-social.css" th:href="@{/css/bootstrap-social.css}" />
<script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" th:src="@{/js/thirdparty/notify.js}"></script>

<th:block th:if="${authenticated}">
	<script type="text/javascript" th:src="@{/js/utils/D2O.js}"></script>
	<script type="text/javascript" th:src="@{/js/utils/storage.js}"></script>
	<script type="text/javascript" th:src="@{/js/general/application.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
	<script type="text/javascript" th:src="@{/js/general/chat.js}"></script>
</th:block>