<!DOCTYPE html>
<html>
<meta name="google-signin-client_id" th:content="${appId}"/>

<head>
<title th:utext="#{app.title}">Title</title>
<div th:replace="fragment/variables">&nbsp;</div>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body style="margin-top: 75px;">
	<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Please enable Javascript and reload this page!</h2></noscript>
    
	<th:block th:if="${authenticated}">
		<div th:replace="fragment/navbar :: navbar-loggedin">&nbsp;</div>
	</th:block>
	<th:block th:unless="${authenticated}">
		<div th:replace="fragment/navbar :: navbar-loggedout">&nbsp;</div>
	</th:block>
	
	<div class="container">
		<div class="jumbotron" th:utext="#{app.welcome}"></div>	
		<th:block th:if="${authenticated}">
			 <a class="btn btn-large btn-info" href="secure/"><i class="fa fa-rocket" aria-hidden="true"></i> Launch</a>
		</th:block>
	</div>
	<div th:replace="fragment/im">&nbsp;</div>
</body>
</html>